# Atividade de Análise de dados
Feito por Gabriel Ribeiro, dia 12/05
### Vamos começar observando nossa base de dados

In [5]:
import pandas as pd

df = pd.read_csv("fornecedores.csv")
df

,Id,CNPJ,CPF,Nome,Ativo,Recadastrado,Município,UF,Natureza Jurídica,Porte da Empresa,Ramo do Negócio,Unidade Cadastradora,CNAE,CNAE Secundário,Habilitado a Licitar
0,1,00.000.000/0001-91,NaN,BANCO DO BRASIL SA,Sim,NaN,97012: BRASÍLIA,DF,9: SOCIEDADE DE ECONOMIA MISTA,2: null,NaN,NaN,"6422100: BANCOS MÚLTIPLOS, COM CARTEIRA COMERCIAL",NaN,Sim
1,4,00.000.028/0001-29,NaN,TARGET ENGENHARIA E CONSULTORIA LTDA.,Sim,NaN,71072: São Paulo,SP,2: SOCIEDADE EMPRESÁRIA LIMITADA,2: null,NaN,NaN,6203100: DESENVOLVIMENTO E LICENCIAMENTO DE PR...,NaN,Sim
2,5,00.000.155/0001-28,NaN,COUPLING SERVICO DE MANUTENCAO LTDA,Não,NaN,71072: São Paulo,SP,2: SOCIEDADE EMPRESÁRIA LIMITADA,2: null,NaN,NaN,3314701: MANUTENÇÃO E REPARAÇÃO DE MÁQUINAS MO...,NaN,Sim
3,6,00.000.166/0001-08,NaN,IRMAOS RODOPOULOS LTDA,Sim,NaN,97012: BRASÍLIA,DF,2: SOCIEDADE EMPRESÁRIA LIMITADA,2: null,NaN,NaN,4120400: CONSTRUÇÃO DE EDIFÍCIOS,NaN,Sim
4,8,00.000.208/0001-00,NaN,BRB BANCO DE BRASILIA SA,Sim,NaN,97012: BRASÍLIA,DF,9: SOCIEDADE DE ECONOMIA MISTA,2: null,NaN,NaN,"6422100: BANCOS MÚLTIPLOS, COM CARTEIRA COMERCIAL",NaN,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1023,00.105.032/0001-51,NaN,MP PURIFICADORES DE AGUA LTDA,Sim,NaN,81051: Florianópolis,SC,2: SOCIEDADE EMPRESÁRIA LIMITADA,2: null,NaN,NaN,4753900: COMÉRCIO VAREJISTA ESPECIALIZADO DE E...,NaN,Sim
496,1025,00.105.137/0001-00,NaN,WEISSHEIMER & CIA LTDA,Não,NaN,88412: Santa Maria,RS,2: SOCIEDADE EMPRESÁRIA LIMITADA,2: null,NaN,NaN,4731800: COMÉRCIO VAREJISTA DE COMBUSTÍVEIS PA...,NaN,Sim
497,1029,NaN,***.063.000-**,HELENA ZANELLA PRATES,Sim,NaN,87912: Pelotas,RS,NaN,1: MICROEMPRESA,NaN,NaN,NaN,NaN,Sim
498,1030,00.106.386/0001-10,NaN,"COMPAGER - LOGISTICA, TRANSPORTES E ARMAZENS G...",Sim,NaN,76678: Londrina,PR,2: SOCIEDADE EMPRESÁRIA LIMITADA,2: null,NaN,NaN,"4930202: TRANSPORTE RODOVIÁRIO DE CARGA, EXCET...",NaN,Sim
499,1032,NaN,***.065.590-**,CRISTIANO STRECK,Sim,NaN,88633: São Borja,RS,NaN,1: MICROEMPRESA,NaN,NaN,NaN,NaN,Sim